.single-day-container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  padding-top: 1em;

  opacity: 0;
  animation: appearIn 0.2s ease-in-out;
  transform: translateX(10px);
  animation-fill-mode: forwards;
}

@keyframes appearIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}