.item-container {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  flex: 1;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .item-container {
    grid-template-columns: repeat(4, 1fr);
  }
}