body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'Roboto', serif;
  color: rgba(255, 255, 255, 0.8);
  color: #cccfd2;
  font-size: 20px;
}

body, body * {
    box-sizing: border-box;
}
